.title {
    font-size: 48px;
    margin-bottom: 40px;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.buttonSubmit {
    width: 50%;
    display: block;
    padding: 10px 20px;
    font-size: 28px;
    color: white;
    background-color: #0077ff;
    cursor: pointer;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
}

.buttonSubmit:hover {
    background-color: #006be6;
}

.container input {
    width: 50%;
    font-size: 28px;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 10px;
    font-family: inherit;
}

.container p {
    font-size: 22px;
    margin-bottom: 10px;
}

.container a:link,
.container a:visited {
    font-size: 22px;
    text-decoration: none;
    color: #fff;

    background-color: #0077ff;
    padding: 10px 20px;
    border-radius: 10px;
}

.container a:active,
.container a:hover {
    background-color: #006be6;
}