.container {
  margin-bottom: 40px;
}

.link:link,
.link:visited {
  font-size: 22px;
  text-decoration: none;
  color: #fff;

  background-color: #0077ff;
  padding: 3px 6px;
  border-radius: 10px;
}
.link:active,
.link:hover {
  background-color: #006be6;
}

.pLogin {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}
